.feed-layout {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  border-radius: 3px 3px 0 0;
}
.title {
  display: flex;
  justify-content: space-between;
  background: white;
  color: #615c5c;
  text-shadow: 0.5px 0px 1px #615c5c;
  padding: 30px 20px;
}
iframe {
  display: block;
}
